@define-color foreground #d4be98;
@define-color background #282828;
@define-color accent #d8a657;
@define-color active #7daea3;
@define-color urgent #ea6962;
@define-color hover #3c3836;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

/* Workspaces */
#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @foreground;
  background-color: transparent;
  transition: all 0.2s ease;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button:hover {
  background-color: transparent;
  color: @accent;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: transparent;
  color: @accent;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: transparent;
  color: @urgent;
  font-weight: bold;
}
/* Modules */
#tray,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#network,
#bluetooth,
#pulseaudio,
#idle_inhibitor,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
  background-color: @background;
  border: 1px solid @hover;
}

#custom-update {
  font-size: 10px;
}

#clock {
  /* margin-left: 8.75px; */
  /* color: @accent; */
  /* font-weight: bold; */
}

#battery.warning {
  color: #d8a657;
}

#battery.critical {
  color: @urgent;
  animation: blink 1s linear infinite;
}

#battery.charging {
  color: @active;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

#network.disconnected {
  color: @urgent;
}

#pulseaudio.muted {
  color: #665c54;
}

#idle_inhibitor.activated {
  color: @active;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: @urgent;
}

#custom-vpn {
  padding: 0 10px;
}

#custom-vpn.connected {
  color: #5fd700;
}

#custom-vpn.disconnected {
  color: #808080;
  opacity: 0.5;
}
